html, body {
    height: 100%;
    min-height: 100%;
    margin: 0;
    overflow: hidden;
}

#terminal-container {
    width: auto;
    height: 100%;
    margin: 0 auto;
    padding: 5px 0 0 8px;
    background-color: #101010;
}

.terminal {
    background-color: #101010;
    color: #f0f0f0;
    font-size: 10pt;
    font-family: Menlo,Consolas,"DejaVu Sans Mono","Liberation Mono",Courier,monospace;
    font-variant-ligatures: none;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

.terminal .xterm-viewport {
    background-color: rgba(121, 121, 121, 0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: background-color 800ms linear;
}

.terminal .xterm-viewport::-webkit-scrollbar {
    width: 10px;
}

.terminal .xterm-viewport::-webkit-scrollbar-track {
    opacity: 0;
}

.terminal .xterm-viewport::-webkit-scrollbar-thumb {
    background-color: rgba(121, 121, 121, 0.4);
}

.terminal .xterm-viewport::-webkit-scrollbar-thumb:hover {
    transition: opacity 0ms linear;
    background-color: rgba(100, 100, 100, .7);
}

.terminal .xterm-viewport::-webkit-scrollbar-thumb:window-inactive {
    background-color: inherit;
}

.terminal .terminal-cursor {
    background-color: #f0f0f0;
    color: #101010;
    opacity: .7;
}

.terminal:not(.focus) .terminal-cursor {
    outline: 1px solid #f0f0f0;
}

@keyframes blink-cursor {
    0% {
        background-color: #f0f0f0;
        color: #101010;
    }
    50% {
        background-color: transparent;
        color: #f0f0f0;
    }
}
