@import "~bulma/sass/utilities/_all";
@import "~bulma/sass/base/helpers";
@import "~bulma/sass/elements/box";
@import "~bulma/sass/elements/button";
@import "~bulma/sass/elements/form";
@import "~bulma/sass/elements/progress";
@import "~bulma/sass/components/modal";
@import "~xterm/src/xterm.css";

html, body {
    height: 100%;
    min-height: 100%;
    margin: 0;
    overflow: hidden;
}

#terminal-container {
    width: auto;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    background-color: #2b2b2b;
}

#modal strong {
    color: #268bd2;
}

#modal span {
    color: #2aa198;
}

#modal header {
    font-weight: bold;
    text-align: center;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;

}

#status {
    margin-top: 10px;
    text-align: center;
}

#choose {
    padding-top: 10px;
}

#choose .file-name {
    border-color: transparent;
}

#progress {
    padding-top: 10px;
}

#file-name {
    background-color: #fafffd;
    text-align: center;
}

#progress progress {
    margin: 10px 0;
}

#progress {
    color: #93a1a1;
}

#progress span {
    font-weight: bold;
}