@import "~xterm/src/xterm.css";
@import "modal";

html, body {
    height: 100%;
    min-height: 100%;
    margin: 0;
    overflow: hidden;
}

#terminal-container {
    width: auto;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    background-color: #2b2b2b;
    .terminal {
        padding: 5px;
    }
}

#modal {
    strong {
        color: #268bd2;
    }
    span {
        color: #2aa198;
    }
    header {
        font-weight: bold;
        text-align: center;
        padding-bottom: 10px;
        margin-bottom: 10px;
        border-bottom: 1px solid #ddd;
    }
}

#progress {
    padding-top: 10px;
    progress {
        margin: 10px 0;
    }
    color: #93a1a1;
    span {
        font-weight: bold;
    }
}

#status {
    margin-top: 10px;
    text-align: center;
}

#choose {
    padding-top: 10px;
    .file-name {
        border-color: transparent;
    }
}

#file-name {
    background-color: #fafffd;
    text-align: center;
}