.box {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 3px hsla(0, 0%, 4%, 0.1), 0 0 0 1px hsla(0, 0%, 4%, 0.1);
  color: #4a4a4a;
  display: block;
  padding: 1.25rem;
}

.progress {
  border: none;
  border-radius: 290486px;
  display: block;
  height: 1rem;
  overflow: hidden;
  padding: 0;
  width: 100%;
  &:not(:last-child) {
    margin-bottom: 1.5rem;
  }
  &::-webkit-progress-bar {
    background-color: #dbdbdb;
  }
  &::-webkit-progress-value {
    background-color: #3273dc;
  }
  &::-moz-progress-bar {
    background-color: #3273dc;
  }
  &::-ms-fill {
    background-color: #3273dc;
    border: none;
  }
}

.modal {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  align-items: center;
  display: none;
  overflow: hidden;
  position: fixed;
  z-index: 40;
  &.is-active {
    display: flex;
  }
}

.file-input {
  height: .01em;
  left: 0;
  outline: none;
  position: absolute;
  top: 0;
  width: .01em;
}

.file-cta, .file-name {
  align-items: center;
  box-shadow: none;
  display: inline-flex;
  height: 2.25em;
  justify-content: flex-start;
  line-height: 1.5;
  position: relative;
  vertical-align: top;
  border-color: #dbdbdb;
  border-radius: 3px;
  font-size: 1em;
  padding: calc(.375em - 1px) 1em;
  white-space: nowrap;
}

.file-name {
  border-color: #dbdbdb;
  border-style: solid;
  border-width: 1px 1px 1px 0;
  display: block;
  max-width: 16em;
  overflow: hidden;
  text-align: left;
  text-overflow: ellipsis;
  &:active, &:focus {
    outline: none;
  }
}

.file-cta {
  background-color: #f5f5f5;
  color: #4a4a4a;
  &:active, &:focus {
    outline: none;
  }
}

.button {
  float: right;
  align-items: center;
  border-radius: 2px;
  display: inline-flex;
  font-size: .75rem;
  height: 2em;
  line-height: 1.5;
  position: relative;
  vertical-align: top;
  background-color: #3273dc;
  border-color: transparent;
  color: #fff;
  cursor: pointer;
  justify-content: center;
  padding: calc(.375em - 1px) 0.75em;
  text-align: center;
  white-space: nowrap;
  &:active, &:focus {
    outline: none;
  }
  &:hover {
    background-color: #276cda;
    border-color: transparent;
    color: #fff;
  }
}

.modal-background {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  background-color: hsla(0, 0%, 4%, 0.86);
}

.modal-content {
  margin: 0 20px;
  max-height: calc(100vh - 160px);
  overflow: auto;
  position: relative;
  width: 100%;
}

@media print, screen and (min-width: 769px) {
  .modal-content {
    margin: 0 auto;
    max-height: calc(100vh - 40px);
    width: 640px;
  }
}