html,
body {
    height: 100%;
    min-height: 100%;
    margin: 0;
    overflow: hidden;
}

@font-face {
    font-family: 'MesloLGS NF';
    src: url('webfont/MesloLGS-NF-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'MesloLGS NF';
    src: url('webfont/MesloLGS-NF-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MesloLGS NF';
    src: url('webfont/MesloLGS-NF-Bold-Italic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'MesloLGS NF';
    src: url('webfont/MesloLGS-NF-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

#terminal-container {
    width: auto;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    .terminal {
        padding: 5px;
        height: calc(100% - 10px);
    }
}
